.App {
    text-align: center;
}

.App-logo {
    height: 25vmin;
    pointer-events: none;
}

.App-header {
    background-image: url(https://www.nationalplastics.co.uk/media/catalog/product/cache/d2b5aef9c88f995db2648c29e35c0a06/d/c/dc60906.jpg);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}
.station-text {
    color: white;
    background-color: darkblue;
    border: 2px solid crimson;
    margin: 20px;
    border-radius: 50px;
    padding: 20px;
}

.App-link {
    color: #61dafb;
}

/* Custom css for card display */

.card {
    background-color: #C2C2C4;
    border: 11px solid #F6C100;
    color: black;
    border-radius: 26px;
    padding: 26px;
    margin: 20px;
    width: 50vw;
}
